<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ChatRoomConnectionString"
            connectionString="Data Source=SUDA-20100711SC;Initial Catalog=ChatRoom;Persist Security Info=True;User ID=root;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>